* {
  padding: 0;
  margin: 0;
  background-color: darkturquoise;
}

body {
  display: flex;
  height: 100vh;
}

#main_container {
  width: 500px;
  margin: auto;
  text-align: center;
}
#main_container h1 {
  font-size: 60px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.player_container {
  display: flex;
  padding-top: 2rem;
  justify-content: space-around;
}
.player_1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.player_2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
#dice_img_one {
  padding: 8px;
  width: 50px;
  height: 50px;
}
#dice_img_two {
  padding: 8px;
  width: 50px;
  height: 50px;
}
#player_main_title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#player_main_title h2 {
  padding-top: 10px;
  color: rgb(14, 117, 14);
}
#btn {
  padding: 10px;
  background-color: rgb(85, 85, 217); /* Sets the button's background color */
  color: white; /* Sets the text color for contrast */
  border: none; /* Removes default border */
  border-radius: 5px; /* Rounds the corners */
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#btn_div {
  padding-top: 15px;
}
